
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-image: url('images/matiere.png'); 
background-size: cover; /* L'image couvre toute la page */
background-position: center center; /* Centrer l'image */
background-attachment: fixed; /* L'image reste fixe lors du défilement */
color: #333;
}

header {
     display: flex; /* Activer Flexbox */
     justify-content: space-between; /* Espace entre les éléments */
     align-items: center; /* Centrer verticalement les éléments */
     padding: 15px 50px;
     background-color:  #eae4e4; /* Couleur de fond */
     color: #ffffff;
     box-shadow: 0 2px 5px  rgba(244, 2, 2, 0.2); /* Ombre légère */
 }
 
 h1 {
     margin: 0;
     font-size: 36px;
     color:#620e0e;
 }
/* Styles de la barre de navigation */
.navbar {
     display: flex; /* Disposer les liens horizontalement */
     gap: 20px; /* Espacement entre les liens */
 }

 .navbar a {
     text-decoration: none; /* Supprimer le soulignement */
     color: #620e0e; /* Couleur blanche */
     font-weight: bold;
     transition: color 0.3s; /* Animation lors du survol */
 }

 .navbar a:hover {
     color: #ee1d1d; /* Couleur dorée au survol */
 }
 h1 {
     margin: 0;
     font-size: 28px;
 }
 main {
     max-width: 900px;
     margin: 20px auto;
     padding: 20px;
 }
 .cards-container {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
 }
 .card {
     background-color: #fff;
     flex: 1 1 calc(33.33% - 20px);
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     text-align: center;
     transition: transform 0.3s, box-shadow 0.3s;
 }
 .card:hover {
     transform: scale(1.05);
     box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
 }
 .card a {
     text-decoration: none;
     color: #620e0e;
     font-weight: bold;
 }
